<ion-content>
  <ion-list *ngIf="courseDetialsAll" [inset]="true">
    <ion-item *ngFor="let courses of courseDetialsAll">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{courses.courseName}}</ion-card-title>
          <ion-card-subtitle>By {{courses.author}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <!-- the tags -->
          <!-- if time is available would like to add filter based on tags i.e on clicking of a particular tag auto filter to that -->
          <ion-card-subtitle>
            Tags: {{courses.tags}}
          </ion-card-subtitle>
          <br>
          <span *ngIf="courses.discountPercentage == 0">
            {{courses.actualPrice}}
          </span>
          <span *ngIf="courses.discountPercentage != 0">
            <span class="slashThrough">
              {{courses.actualPrice}}
            </span>
            <span class="discountedPrice">
              <!-- Replace the dollar symbol -->
              ₹{{calculateDiscountedPrice(courses.actualPrice ,courses.discountPercentage)}}
            </span>
          </span>
        </ion-card-content>
        <!-- Buttons for add to cart and add to wishlist -->
        <ion-button fill="clear" id="addToCart">Add to cart</ion-button>
        <ion-button fill="clear" id="addToWishList">Add to Wishlist</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>
  <!-- when added to cart an alert will popup and will have button view cart and close to stay in the same view -->
  <ion-alert trigger="addToCart" header="added to cart" subHeader="A Sub Header Is Optional"
    message="A message should be a short, complete sentence." [buttons]="alertButtons"></ion-alert>
  <!-- when added to cart an alert will popup and will have button view wishlist and close to stay in the same view -->
  <!-- change of alert buttons still pending -->
  <ion-alert trigger="addToWishlist" header="added to wishlist" subHeader="A Sub Header Is Optional"
    message="A message should be a short, complete sentence." [buttons]="alertButtons"></ion-alert>

  <!-- This is for when the course list comes back empty or doesnt exist -->
  <!-- use isOpen to fix it and not use ngIf ,it doesn't work -->
  <ion-alert *ngIf="courseDetialsAll == null" header="A Short Title Is Best" subHeader="A Sub Header Is Optional"
    message="A message should be a short, complete sentence."></ion-alert>

</ion-content>